.survey-container {
  padding: 20px;
  text-align: center;
}

.aisle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.aisle-button {
  margin: 10px;
  padding: 10px 20px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  background-color: white;
  color: #4CAF50;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
}

.aisle-button.selected {
  background-color: #4CAF50;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  width: 100%; /* Set a fixed width */
  max-width: 300px; /* Limit the maximum width */
  margin-bottom: 15px; /* Add some space between form groups */
}

label {
  margin-bottom: 5px;
}

input,
select {
  padding: 5px;
  font-size: 16px;
  width: 100%;
}

.submit-button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  max-width: 300px; /* Set a fixed width */
  border-radius: 5px;
}

.submit-button:disabled {
  background-color: #cccccc;
}

.error {
  color: red;
}

.recommendations-section {
  margin-bottom: 20px;
}

.recommendation-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}
